<div class="header-container" *ngIf="hospitalEmail">
  <div class="header-bar">
    <div class="logo"> 
      <span style="color: rgb(121, 1, 1);">Red</span><span>Link</span> 
    </div>

    <div class="header" style="margin-left: 145px;">Hospital Home</div>

    <div class="button-container">
      <button class="log-out-btn"
              (mouseenter)="hovering = true"
              (mouseleave)="hovering = false"
              (click)="logout()">
        {{ hovering ? 'Logout' : hospitalEmail }}
      </button>
    </div>
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="#" (click)="showView('profile'); $event.preventDefault()" [class.active]="currentView === 'profile'">profile</a></li>
      <li><a href="#" (click)="showView('request'); $event.preventDefault()" [class.active]="currentView === 'request'">Request</a></li>
      <li><a href="#" (click)="showView('logs'); $event.preventDefault()" [class.active]="currentView === 'logs'">Logs</a></li>
    </ul>
  </nav>
</div>


<div class="content-area" *ngIf="hospitalEmail">
  <app-profile *ngIf="currentView==='profile'"></app-profile>
  <app-request-blood *ngIf="currentView==='request'"></app-request-blood>
  <app-hospital-logs *ngIf="currentView === 'logs'"></app-hospital-logs>
</div>


<div *ngIf="!hospitalEmail" style="color: red; margin: 20px; font-weight: bold;">
  You are not logged in. Please log in to access.
</div>
