<div class="header-container">

  <div class="header-bar">
    <a routerLink="/adminlogin" style="text-decoration: none; color: inherit;">
      <div class="logo"> 
        <span style="color: rgb(121, 1, 1);">Red</span><span>Link</span> 
      </div>
    </a>
    <div class="header">Hospital Login</div>

    <!-- Register button -->
     <div class="register-button-container">
      <button  class="register-btn"  style="margin-left: auto; padding: 6px 12px; cursor: pointer;" (click)="onRegister()" >
       Register
      </button>
    </div>

  </div>

  
  
</div>

<div class="anim">
    
      <div class="login-page-container">
          <div class="login-box">
            <h3>Hospital Login</h3>

            <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                <label for="email">Email</label>
                  <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required   />

                <label for="password">Password</label>
                  <input type="password"  id="password" name="password"[(ngModel)]="loginData.password" required/>

                <div *ngIf="errorMessage" class="error-text">
                  {{ errorMessage }}
                  </div>

                <div class="button-group-container">
                  <button type="submit" class="primary-btn" [disabled]="loginForm.invalid">
                    Login
                  </button>
                  <button type="button" class="secondary-btn" (click)="onCancel()">
                    Cancel
                 </button>
                </div>
            </form>
          </div>
      </div>

  <!-- reg hospital stuff -->
   <div *ngIf="showRegOverlay" class="overlay">
      <div class="overlay-content">
          <h3 style="margin-bottom: -5px;">REGISTER</h3>

            <form (ngSubmit)="createhospital()" style="gap: 25px;">

            
                <label>
                    Name:
                    <input type="text" [(ngModel)]="newHospital.hospitalName" name="hospitalName" required />
                </label>

                <label>
                      Coordinator:
                         <input type="text" [(ngModel)]="newHospital.hospitalCoordinator" name="hospitalCoordinator" required />
                </label>
                
                <label>
                      Phone no.:
                         <input type="text" [(ngModel)]="newHospital.hospitalPh" name="hospitalPh" required />
                </label>

                <label>
                    Mail:
                        <input type="text" [(ngModel)]="newHospital.hospitalMail" name="hospitalMail" required />
                  </label>
                  
                 <label>
                    Address:
                        <input type="text" [(ngModel)]="newHospital.hospitalAddress" name="hospitalAddress" required />
                  </label>
                <label>
                      Password:
                         <input type="password" [(ngModel)]="newHospital.hospitalPassword" name="hospitalPassword" required />

                </label>

                <div class="button-group-container" style="margin-top: 20px;margin-bottom: -10px;">
                  <button type="submit" class="primary-btn">Register</button>
                  <button type="button" class="secondary-btn" (click)="cancelReg()">Cancel</button>
               </div>
            </form>

        <div *ngIf="createErrorOverlay" class="error-text" style="color: red; font-family: Arial, sans-serif; font-weight: 600; margin-bottom: -25px; margin-top: 5px;">
             {{createError}}
          </div>
      </div>
    </div>

     <!-- create success message -->
      <div *ngIf="showCreateSuccessMessage" class="success-overlay-message">
          Hospital created successfully!
      </div>
    <!-- create success message end -->
  
</div>