<div class="header-container" *ngIf="adminEmail">
  <div class="header-bar">
    <div class="logo"> 
      <span style="color: rgb(121, 1, 1);">Red</span><span>Link</span> 
    </div>

    <div class="header" style="margin-left: 145px;">Admin Home</div>

        <div class="dropdown" >
        <button class="log-out-btn" (click)="dropdownOpen = !dropdownOpen">
          {{ adminEmail }}
          <span class="arrow" [class.open]="dropdownOpen">▼</span>
        </button>
      
        <div class="dropdown-menu" *ngIf="dropdownOpen">
          <button class="dropdown-item" (click)="logout()">Logout</button>
        </div>
    </div>
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="#" (click)="showView('inventory'); $event.preventDefault()" [class.active]="currentView === 'inventory'">Inventory</a></li>
      <li><a href="#" (click)="showView('donors'); $event.preventDefault()" [class.active]="currentView === 'donors'">Donors</a></li>
      <li><a href="#" (click)="showView('hospitals'); $event.preventDefault()" [class.active]="currentView === 'hospitals'">Hospitals</a></li>
      <li><a href="#" (click)="showView('logs'); $event.preventDefault()" [class.active]="currentView === 'logs'">Requests</a></li>
      <li><a href="#" (click)="showView('urgentlogs'); $event.preventDefault()" [class.active]="currentView === 'urgentlogs'">Urgent Requests</a></li>
    </ul>
  </nav>
</div>


<div class="content-area" *ngIf="adminEmail">
  <app-donors *ngIf="currentView === 'donors'"></app-donors>
  <app-hospital *ngIf="currentView === 'hospitals'"></app-hospital>
  <app-blood *ngIf="currentView === 'inventory'"></app-blood>
  <app-admin-logs *ngIf="currentView === 'logs'"></app-admin-logs>
  <app-urgentlogs *ngIf="currentView === 'urgentlogs'"></app-urgentlogs>
</div>

<div *ngIf="!adminEmail" style="color: red; margin: 20px; font-weight: bold;">
  You are not logged in. Please log in to access.
</div>
